@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');


.bgContainer{
    width: 100%;
   height: 100%;

}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container{
    position: absolute;
    width: 77%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;


}

.home-title{

    font-size: 70px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    color: aqua
    /* background: linear-gradient(158deg, rgb(150, 6, 126) 0%, rgb(11, 165, 50) 100%); */
}

.home-subtitle{

    font-size: 50px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: rgb(183, 240, 165)
    /* background: linear-gradient(158deg, rgb(150, 6, 126) 0%, rgb(11, 165, 50) 100%); */
    

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgb(90, 199, 236)
}

     .Home link{
        text-decoration: none;
        color: rgb(209, 21, 21);
        padding: 10px;
      }
      
      .Home :hover{
        color: #f121e7;
        cursor: pointer;
        
      } 
